:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: var(--very-light-gray);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.card {
    width: 310px;
    margin: auto;
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 310px;
    grid-row-gap: 1.4rem;
    align-items: center;
}

/* topmost section - above the product cards */
.card__heading {
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-bottom: 55px;
}

.card__title-sub {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--very-dark-blue);
}

.card__title {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 20px;
    color: var(--very-dark-blue);
}

.card__title-desc {
    font-size: .9rem;
    font-weight: 400;
    color: var(--grayish-blue);
}

/* product cards */
.card__product-card {
    background: linear-gradient(to bottom, var(--cyan) 0 2%, #fff 2% 100%);
    border-radius: 8px;
    padding: 28px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    align-content: center;
    box-shadow:
        0px 2px 2.2px rgba(0, 0, 0, 0.02),
        0px 4.8px 5.3px rgba(0, 0, 0, 0.028),
        0px 9px 10px rgba(0, 0, 0, 0.035),
        0px 16.1px 17.9px rgba(0, 0, 0, 0.042),
        0px 30.1px 33.4px rgba(0, 0, 0, 0.05),
        0px 72px 80px rgba(0, 0, 0, 0.07);
    display: grid;
}

.card__product-card--red {
    background: linear-gradient(to bottom, var(--red) 0 2%, #fff 2% 100%);
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.card__product-card--orange {
    background: linear-gradient(to bottom, var(--orange) 0 2%, #fff 2% 100%);
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}

.card__product-card--blue {
    background: linear-gradient(to bottom, var(--blue) 0 2%, #fff 2% 100%);
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
}

.card__product-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--very-dark-blue);
}

.card__product-desc {
    font-size: .9rem;
    font-weight: 400;
    color: var(--grayish-blue);
}

.card__icon {
    justify-self: end;
    padding-top: 28px;
}

/* .card__icon-wrap {
    justify-self: end;
} */

/* footer */
.attribution {
    font-size: 11px;
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}