:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--very-light-gray);
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.card {
    max-width: 19.5rem;
    border-radius: .2rem;
    margin: auto;
    display: grid;
    grid-row-gap: 1.45rem;
}

.card__heading {
    text-align: center;
    padding: 3.2rem 0;
}

.card__sub-title {
    color: var(--very-dark-blue);
    font-size: 1.5rem;
    font-weight: 200;
}

.card__title {
    color: var(--very-dark-blue);
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.card__title-desc {
    color: var(--grayish-blue);
    font-size: 1rem;
    font-weight: 400;
}

.card__feature-card {
    /* min-width: 312px; */
    background: linear-gradient(to bottom, var(--cyan) 0 2%, hsl(0, 0%, 100%) 2% 100%);
    border-radius: .4rem;
    padding: 1.5rem 1.8rem;
    line-height: 1.8;
    box-shadow: 0px 2px 2.2px rgba(0, 0, 0, 0.02), 
    0px 4.8px 5.3px rgba(0, 0, 0, 0.028), 
    0px 9px 10px rgba(0, 0, 0, 0.035), 
    0px 16.1px 17.9px rgba(0, 0, 0, 0.042), 
    0px 30.1px 33.4px rgba(0, 0, 0, 0.05), 
    0px 72px 80px rgba(0, 0, 0, 0.07);
            }
            
            .card__feature-title {
                color: var(--very-dark-blue);
                font-size: 1.3rem;
    font-weight: 600;
}

.card__feature-desc {
    color: var(--grayish-blue);
    font-size: .8rem;
    font-weight: 400;
    padding-bottom: 1.5rem;
}

.card__feature-card--red {
    background: linear-gradient(to bottom, var(--red) 0 2%, hsl(0, 0%, 100%) 2% 100%);
}

.card__feature-card--orange {
    background: linear-gradient(to bottom, var(--orange) 0 2%, hsl(0, 0%, 100%) 2% 100%);
}

.card__feature-card--blue {
    background: linear-gradient(to bottom, var(--blue) 0 2%, hsl(0, 0%, 100%) 2% 100%);
}

.card__icon {
    display: block;
    margin-left: auto;
}

.attribution {
    font-size: .7rem;
    text-align: center;
    padding: 2rem;
}

.attribution__link {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1100px) {
    .card {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, auto);
        row-gap: 2rem;
        column-gap: 1.9rem;
        max-width: 1100px;
    }
    
    .card__heading {
        grid-column: 1 / 4;
        padding: .7rem 0;
    }

    .card__feature-card {
        max-width: 351px;
        grid-column: 1;
        grid-row: 3 / 5;
        line-height: 1.9;
        padding: 1.8rem;
    }
    
    .card__sub-title, .card__title {
        font-size: 2.3rem;
    }
    
    .card__title-desc {
        padding: 0 290px;
        font-size: 1rem;
    }
    
    .card__feature-title {
        font-size: 1.25rem;
    }
    .card__feature-card--red {
        grid-column: 2;
        grid-row: 2 / 4;
    }
    
    .card__feature-card--orange {
        grid-column: 2;
        grid-row: 4 / 6;
    }
    
    .card__feature-card--blue {
        grid-column: 3;
        grid-row: 3 / 5;
    }
    
    .card__feature-desc {
        padding-bottom: 2.4rem;
    }

}